.config/VSCodium/User/History
.config/VSCodium/CacheData
.config/VSCodium/Cookies
.config/VSCodium/Cookies-journal
.config/VSCodium/DawnGraphiteCache
.config/VSCodium/DawnWebGPUCache
.config/VSCodium/Cache
.config/VSCodium/Trust\ Tokens
.config/VSCodium/Trust\ Tokens-journal
.config/VSCodium/GPUCache
.config/VSCodium/Code\ Cache
.config/VSCodium/CachedProfilesData
.config/VSCodium/CachedExtensionVSIXs 
.config/VSCodium/Crashpad
